<section>
    <h2>OUR MENU</h2>
    <div class="tankotsu-ramen-mediatext">
        <img src="../../../assets/img/tankotsu.png" alt="">
        <div class="table-container">
            <h3>Tankotsu Ramen</h3>
            <table>
                <tr>
                    <td class="chicken-german">CHICKEN</td>
                    <td class="text-right">11.95€</td>
                </tr>
                <tr>
                    <td class="beef-german">BEEF</td>
                    <td class="text-right">12.95€</td>
                </tr>
                <tr>
                    <td class="shrimps-german">SHRIMPS</td>
                    <td class="text-right">13.95</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="separator"></div>
    <div class="spicy-miso-mediatext">
        <div class="table-container">
            <h3>Spicy Miso Ramen</h3>
            <table>

                <tr>
                    <td class="chicken-german">CHICKEN</td>
                    <td class="text-right">11.95€</td>
                </tr>
                <tr>
                    <td class="beef-german">BEEF</td>
                    <td class="text-right">12.95€</td>
                </tr>
                <tr>
                    <td class="shrimps-german">SHRIMPS</td>
                    <td class="text-right">13.95</td>
                </tr>
            </table>
        </div>
        <img src="../../../assets/img/spicy.png" alt="">
    </div>
    <div class="separator"></div>
    <div class="shio-ramen-mediatext">
        <img src="../../../assets/img/shio.png" alt="">
        <div class="table-container">
            <h3>Shio Ramen</h3>
            <table>
                <tr>
                    <td class="chicken-german">CHICKEN</td>
                    <td class="text-right">11.95€</td>
                </tr>
                <tr>
                    <td class="beef-german">BEEF</td>
                    <td class="text-right">12.95€</td>
                </tr>
                <tr>
                    <td class="shrimps-german">SHRIMPS</td>
                    <td class="text-right">13.95</td>
                </tr>
            </table>
        </div>
    </div>
</section>
